<!DOCTYPE html>
<html>
  <head>
    <title>Swcinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="padding:0 0 0 40%;">
    <%= yield %>
  </div>
  </body>
</html>
